<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css styles/main.css -->
        <link href="styles/main.css" rel="stylesheet">
        <!-- endbuild -->
    </head>
    <body ng-app="markticle">
        <div id="main_wrapper" ng-controller="MainController">
            <header>
                <h1>My marks</h1>
            </header>
            <section id="my_marks">
                <p ng-if="marks.length < 1">No marks.</p>
                <ul ng-if="marks.length >= 1">
                    <li ng-repeat="mark in marks">
                        <a target="_blank" ng-href="{{mark.url}}">{{mark.title}}</a>
                        <!-- <span class="remove" ng-click="removeMark(mark.url)">remove</span> -->
                    </li>
                </ul>
            </section>
        </div>

        <!-- build:js scripts/modules.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <script src="special_scripts/storage.js"></script>

        <!-- build:js scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/helpers/storage.helper.js"></script>
        <script src="scripts/services/storage.service.js"></script>
        <script src="scripts/controllers/main.controller.js"></script>
        <script src="scripts/directives/main.directive.js"></script>
        <!-- endbuild -->
    </body>
</html>